#!ipxe

set mirror {{alpine_base_url}}/main
set bob http://{{bob_listen_address}}/alpine
set flavor lts

kernel ${bob}/vmlinuz-${flavor} console=tty0 modules=loop,squashfs quiet nomodeset modloop=${bob}/modloop-${flavor} alpine_repo=${mirror}
initrd ${bob}/initramfs-${flavor}

boot
