#cloud-config

hostname: {{hostname}}.{{dns_domain}}

users:
- name: ubuntu
  sudo: ALL=(ALL) NOPASSWD:ALL
  shell: /bin/bash
  ssh_authorized_keys:
  - {{ builder_ssh_key }}

runcmd:
- touch /etc/cloud/cloud-init.disabled
- echo "dd if=/dev/zero of=/dev/sda bs=4M count=99 ; reboot" > /usr/local/sbin/SPLAT.sh
- chmod 750 /usr/local/sbin/SPLAT.sh
