# BOB Server config 

# Uncomment, if you don't want DNS
#port=0

# Just listen on a specific address
bind-interfaces
listen-address={{ BOB_LISTEN_ADDRESS }}

domain={{ BOB_DNS_DOMAIN }}

# TFTP
enable-tftp 
tftp-root={{ BOB_TFTP_DIRECTORY }}

# Set a tag for a user-class
dhcp-userclass=set:ipxe,iPXE
dhcp-boot=ipxe-x86_64.efi
dhcp-boot=tag:ipxe,http://{{ BOB_LISTEN_ADDRESS }}/ipxe/stage1.cfg

dhcp-range={{ BOB_LISTEN_ADDRESS }},static,24h
dhcp-option=option:router,{{ BOB_DHCP_GATEWAY }}
dhcp-option=option:dns-server,{{ BOB_DHCP_NAMESERVER }}
