---

alpine_base_url: "{{ BOB_ALPINE_BASE_URL }}"
bob_listen_address: "{{ BOB_LISTEN_ADDRESS }}"
bob_html_directory: "{{ BOB_HTML_DIRECTORY }}"
builder_ssh_key: "{{ BUILDER_SSH_KEY }}"
dns_domain: "{{ BOB_DNS_DOMAIN }}"
rocky_image_file: "{{ ROCKY_IMAGE_FILE }}"
