export ALPINE_BASE_URL="{{ BOB_ALPINE_BASE_URL }}"
export BOB_LISTEN_ADDRESS="{{ BOB_LISTEN_ADDRESS }}"
export BOB_HTML_DIRECTORY="{{ BOB_HTML_DIRECTORY }}"

# Cloud images
export ROCKY_QCOW_URL="{{ ROCKY_QCOW_URL }}"
export ROCKY_IMAGE_FILE="{{ ROCKY_IMAGE_FILE }}"
export UBUNTU_QCOW_URL="{{ UBUNTU_QCOW_URL }}"
export UBUNTU_IMAGE_FILE="{{ UBUNTU_IMAGE_FILE }}"
