---

bob_listen_address: "{{ BOB_LISTEN_ADDRESS }}"
bob_html_directory: "{{ BOB_HTML_DIRECTORY }}"
builder_ssh_key: "{{ BUILDER_SSH_KEY }}"
dns_domain: "{{ BOB_DNS_DOMAIN }}"

alpine_base_url: "{{ ALPINE_SITE }}/{{ RESCUE_VERSION }}"

os_cache:
{{ os_cache | to_yaml | indent(2,true) }}
