export ALPINE_BASE_URL="{{ BOB_ALPINE_BASE_URL }}"
export BOB_LISTEN_ADDRESS="{{ BOB_LISTEN_ADDRESS }}"
export BOB_HTML_DIRECTORY="{{ BOB_HTML_DIRECTORY }}"

# Cloud images
export ALPINE_QCOW_URL="{{ ALPINE_QCOW_URL }}"
export ALPINE_IMAGE_FILE="{{ ALPINE_IMAGE_FILE }}"

export FCOS_BASE_URL="{{ FCOS_BASE_URL }}"
export FCOS_KERNEL_GET="{{ FCOS_KERNEL_GET }}"
export FCOS_KERNEL_FILE="{{ FCOS_KERNEL_FILE }}"
export FCOS_INITRD_GET="{{ FCOS_INITRD_GET }}"
export FCOS_INITRD_FILE="{{ FCOS_INITRD_FILE }}"
export FCOS_ROOTFS_GET="{{ FCOS_ROOTFS_GET }}"
export FCOS_ROOTFS_FILE="{{ FCOS_ROOTFS_FILE }}"

export FEDORA_QCOW_URL="{{ FEDORA_QCOW_URL }}"
export FEDORA_IMAGE_FILE="{{ FEDORA_IMAGE_FILE }}"

export ROCKY_QCOW_URL="{{ ROCKY_QCOW_URL }}"
export ROCKY_IMAGE_FILE="{{ ROCKY_IMAGE_FILE }}"

export UBUNTU_QCOW_URL="{{ UBUNTU_QCOW_URL }}"
export UBUNTU_IMAGE_FILE="{{ UBUNTU_IMAGE_FILE }}"
