---

dns_domain: "{{ BOB_DNS_DOMAIN }}"
bob_home_directory: {{ BOB_HOME_DIRECTORY }}
bob_local_cache: {{ BOB_LOCAL_CACHE }}
bob_listen_address: {{ BOB_LISTEN_ADDRESS }}
bob_netboot_path: "rescue/{{ BOB_RESCUE_VERSION }}"
builder_user: {{ BUILDER_USER }}
builder_ssh_key: "{{ BUILDER_SSH_KEY }}"

alpine_repo_url: "{{ ALPINE_SITE }}/{{ BOB_RESCUE_VERSION }}/main"

nginx_base_dir: {{ NGINX_BASE_DIRECTORY }}
nginx_ipxe_dir: {{ NGINX_BASE_DIRECTORY }}/ipxe
nginx_build_dir: {{ NGINX_BASE_DIRECTORY }}/build
