---

all:
  vars:
    ansible_python_interpreter: /bin/python3
  children:
  
    libvirt:
      hosts:
        {% for hv in Hypervisors %}{% if hv.type == 'libvirt' -%}
        {{ hv.name }}:
        {% endif %}{% endfor %}
    proxmox:
      hosts:
        {% for hv in Hypervisors -%}{% if hv.type == 'proxmox' -%}
        {{ hv.name }}:
        {% endif %}{% endfor -%}
