#!ipxe

set mirror {{alpine_base_url}}/main
set bob http://{{bob_listen_address}}
set netboot ${bob}/{{ bob_netboot_path }}
set overlay ${bob}/build/builder.apkovl.tar.gz
set script ${bob}/build/${mac}.sh
set flavor lts

kernel ${netboot}/vmlinuz-${flavor} console=tty0 modules=loop,squashfs boot_if=${mac} nomodeset modloop=${netboot}/modloop-${flavor} alpine_repo=${mirror} apkovl=${overlay} build_script=${script}
initrd ${netboot}/initramfs-${flavor}

boot
