#!ipxe

# Taken directly from: https://docs.fedoraproject.org/en-US/fedora-coreos/bare-metal/

set ignition http://{{bob_listen_address}}/fcos/bootstrap.ign
set bob http://{{bob_listen_address}}/{{os}}/{{version}}

kernel ${bob}/{{files.0}} initrd=main coreos.live.rootfs_url=${bob}/{{files.2}} coreos.inst.install_dev={{disk}} coreos.inst.ignition_url=${ignition}
initrd --name main ${bob}/{{files.1}}

boot
