#!/bin/bash

# This is an optional file that can fetch from a pre-populated cache; e.g. if you:
#  - are developing BoB, and need to keep downloading files
#  - run multiple BoB's
#  - have BoB servers that cannot access the Internet

CYAN='\e[36m'
BLUE='\e[34m'
END='\e[0m'

cd {{nginx_base_dir}}
{% for os in os_systems -%}
{% for ver in os_versions %}{% if ver.os_name == os.name %}
echo -e "${CYAN}Fetching {{os.name}} v {{ver.os_version}} ...${END}"
mkdir -p {{os.name}}/{{ver.os_version}}
(
  cd {{os.name}}/{{ver.os_version}}
{% for file in ver.files.split(',') %}  FILE="{{file}}"
  wget -nc {{bob_local_cache}}/{{os.name}}/{{ver.os_version}}/${FILE}
  file "${FILE}" | grep "QCOW Image" > /dev/null && {
    echo -e "${BLUE}QCOW Image detected${END}"
    RAW="${FILE%.*}.raw"
    [[ -f "${RAW}.gz" ]] || {
      echo -e "${CYAN}  ... converting QCOW to RAW${END}"
      qemu-img convert -O raw "${FILE}" "${RAW}"
      echo -e "${CYAN}  ... and then compressing${END}"
      gzip "${RAW}"
    }
  }
{% endfor -%}
)
{% endif %}{% endfor -%}
{% endfor %}