---

- name: Create a LibVirt VM
  hosts: {{ hypervisor }}
  gather_facts: false
  become: true

  tasks:
    - name: Include libvirt-VM role
      ansible.builtin.include_role:
        name: libvirt-vm
      vars:
        lvvm_hostname: {{ name }}
        lvvm_vm_cores: {{ vm_cpu_cores }}
        lvvm_vm_memory: {{ vm_memory_mb }}
        lvvm_vm_os_disk_size: {{ vm_disk_gb }}
        lvvm_ip_cidr: {{ ip }}/{{ cidr }}
        lvvm_ip_gateway: {{ gateway }}
        lvvm_domain: home.lab
        lvvm_nameservers:
          {% for ns in nameservers %}- {{ ns }}
          {% endfor %}
        lvvm_default_pass: "{{ V_DEFAULT_ROCKY_PASS }}"
        lvvm_ssh_keys:
          - ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA1oAk7G11Ms90ZhHmmeAe+Ik/yw34+d+P9/AaEXJOVqXhDiBtFPhDvhV+MKY/UH0xgTeiVNo7+SzOnTp8oqi4X/mqxnvCd6/GxCT0gdb/lS9rBeGWna4ldxMYrAmLg0J9+h1pbOXMpRebDoEkyzXoaHB+9ZH69T0UJR9LvjKvhm6+1DuX5bvO050Sdom24vR0eoGSbligNGDr07mx1JsHw/FCHQjLDlforj5POmG3t5X7YC/Qv6oEcllbdsXINmW6L3KYRTgo3omSuj4D2cnVTlDHrlwZo6L73MC9aU6lMRNmZJC6F0UVX6jaGwNx4DTf1FXihz00+s3KgmPkFgnu9Q== james@server
