---

- name: Destroy and Remove a LibVirt VM
  hosts: {{ hypervisor }}
  connection: local
  gather_facts: false
  become: false

  tasks:
    - name: Destroy VM (Force Shutdown)
      community.libvirt.virt:
        uri: 'qemu+ssh://{{ ssh_user }}@{{ hypervisor }}/system?keyfile={{ ssh_key_file }}'
        name: {{ name }}
        state: destroyed
    - name: Undefine VM (Actually delete it)
      community.libvirt.virt:
        uri: 'qemu+ssh://{{ ssh_user }}@{{ hypervisor }}/system?keyfile={{ ssh_key_file }}'
        name: {{ name }}
        command: undefine


- name: Destroy and Remove a LibVirt VM
  hosts: {{ hypervisor }}
  gather_facts: false
  become: true

  tasks:
    - name: Delete the build files
      ansible.builtin.file:
        path: "/var/lib/libvirt/cloud/{{'{{ item }}'}}"
        state: absent
      loop:
        - "create-{{ name }}-vm.sh"
        - "{{ name }}.network"
        - "{{ name }}.user"          
