---
- name: Create a VM Template on libvirt
  hosts: {{ hv.name }}
  gather_facts: false
  become: true

  tasks:
    - name: Check if default password set
      when: V_DEFAULT_ROCKY_PASS is undefined
      ansible.builtin.fail:
        msg: "Please define a default password for the rocky user (V_DEFAULT_ROCKY_PASS)"

    - name: Create the text screen saver script
      ansible.builtin.copy:
        content: |
          #!/bin/bash
          setterm -term linux -blank 1 -powersave powerdown -powerdown 1
        dest: /root/text-screen-saver.sh
        mode: '0750'

    - name: Create the mk-bridge0 script
      ansible.builtin.template:
        src: mk-bridge0.sh.j2
        dest: /root/mk-bridge0.sh
        mode: '0750'

    - name: Update packages
      ansible.builtin.dnf:
        name: "*"
        state: latest

    - name: Install HV packages
      ansible.builtin.package:
        name:
          - cockpit
          - cockpit-machines
          - virt-install
          - virt-manager

    - name: Start cockpit
      ansible.builtin.service:
        name: cockpit.socket
        enabled: true
        state: started

    - name: Start LibVirt
      ansible.builtin.service:
        name: libvirtd
        enabled: true
        state: started

    - name: Set the default password for the rocky user
      ansible.builtin.user:
        name: rocky
        groups: libvirt
        password: "{{"{{ V_DEFAULT_ROCKY_PASS | password_hash('sha512', 'Build0nBoB') }}"}}"

{% for osv in os_versions %}
    - name: Import libvirt-img role for {{ osv.os_name }}/{{ osv.os_version }}
      ansible.builtin.include_role:
        name: libvirt-img
      vars:
        lv_cloud_image: "{{ osv.files }}"
        lv_cloud_image_url: "http://{{ cfg.bob_listen_address }}/{{ osv.os_name }}/{{ osv.os_version }}/{{ osv.files }}"
{% endfor %}

    - name: Tell the user to create the Bridge
      ansible.builtin.debug:
        msg: "About to create bridge0 on the main interface https://{{ hv.name }}:9090"

    - name: Run the mk-bridge0 script
      ansible.builtin.shell:
        cmd: /root/mk-bridge0
