#!/bin/bash

# This is an optional file that can pre-populate a cache if you:
#  - are developing BoB, and need to keep downloading files
#  - run multiple BoB's
#  - have BoB servers that cannot access the Internet

CYAN='\e[36m'
END='\e[0m'
{% for os in os_systems -%}
{% for ver in os_versions %}{% if ver.os_name == os.name %}
echo -e "${CYAN}Fetching {{os.name}} v {{ver.os_version}} ...${END}"
mkdir -p {{os.name}}/{{ver.os_version}}
(
  cd {{os.name}}/{{ver.os_version}}
{% for file in ver.files.split(',') %}  wget -nc {{os.base_url}}/{{ver.url}}/{{file}}
{% endfor -%}
)
{% endif %}{% endfor -%}
{% endfor %}
