---

- name: Clone a VM Template on proxmox
  hosts: {{ hypervisor }}
  gather_facts: false

  tasks:

  - name: Check that an API Token has been set
    when: pve_api_secret|length == 0
    fail:
      msg: "Please set an API Token Secret in the host_vars/{{ hypervisor }}.yaml"

  - name: Create a VM block
    ansible.builtin.include_role:
        name: proxmox-vm
    vars:
        pve_template_id: 900{{ osver_pid }}
        pve_storage_name: {{ pve_storage }}
        pve_vm_id: {{ vmid }}
        pve_hostname: {{ name }}
        pve_dns_domain: {{ dns_domain }}
        pve_vm_cpu_cores: {{ cpu_cores }}
        pve_vm_memory_mb: {{ memory_mb }}
        pve_vm_os_disk_gb: {{ disk_gb }}
        pve_vm_ip_cidr: '{{ ip }}/{{ cidr }}'
        pve_net_gateway: '{{ sn_gateway }}'
        pve_net_nameservers: {{ sn_nameservers }}
        pve_cloud_user: {{ cloud_user }} 
        pve_cloud_pass: {{ cloud_pass }}
        pve_cloud_ssh_keys: "{{ cloud_ssh_keys.0 }}"
