---

- name: Clone a VM Template on proxmox
  hosts: {{ hypervisor }}
  gather_facts: false

  tasks:

  - name: Create a VM block
    ansible.builtin.include_role:
        name: proxmox-vm
    vars:
        pve_template_id: 900{{ osver_pid }}
        pve_vm_id: {{ vmid }}
        pve_vm_name: {{ name }}
        pve_vm_cpu_cores: {{ vm_cpu_cores }}
        pve_vm_memory_mb: {{ vm_memory_mb }}
        pve_vm_ip_cidr: '{{ ip }}/{{ cidr }}'
        pve_vm_gateway: '{{ gateway }}'
        pve_vm_dns_domain: gotham.lab
        pve_vm_auth:
            user: "rocky"
            password: "Rocky124"
            public_ssh_key: "{{"{{ lookup('file', '/home/james/.ssh/id_rsa.pub') }}"}}"
