---

- name: Clone a VM Template on proxmox
  hosts: {{ hypervisor }}
  gather_facts: false

  tasks:

  - name: Create a VM block
    ansible.builtin.include_role:
        name: proxmox-vm
    vars:
        vm_id: 150
        vm_name: {{ name }}
        vm_cpu_cores: {{ vm_cpu_cores }}
        vm_memory: {{ vm_memory_mb }}
        vm_ip_cidr: '{{ ip }}/{{ cidr }}'
        vm_gateway: '{{ gateway }}'
        vm_dns_domain: gotham.lab
        auth:
            user: "rocky"
            password: "Rocky124"
            public_ssh_key: "{{"{{ lookup('file', '/home/james/.ssh/id_rsa.pub') }}"}}"
