---
- name: Create a VM Template on proxmox
  hosts: {{ hv.name }}
  gather_facts: false
  become: true

  tasks:
{% for osv in os_versions %}
    - name: Import create template role for {{ osv.os_name }}/{{ osv.os_version }}
      ansible.builtin.include_role:
        name: proxmox-tpl
      vars:
        pve_cloud_image: {{ osv.files }}
        pve_cloud_image_url: "http://{{ cfg.bob_listen_address }}/{{ osv.os_name }}/{{ osv.os_version }}/{{ osv.files }}"
        pve_storage_name: {{ hv.pve_storage }}
        pve_template_id: 900{{ osv.pve_id }}
        pve_template_name: {{ osv.os_name }}-{{ osv.pve_id }}-tpl
{% endfor %}
