#!/bin/sh

INFO='\e[36m'
WARN='\e[32m'
ERROR='\e[31m'
END='\e[0m'

echo -e "\n\n${INFO}Doing a RESCUE boot ...${END}"

apk add --no-cache curl lsblk openssh
rc-update add sshd
service sshd start

adduser -D alpine
echo -e "Rescue123\nRescue123" | passwd alpine
echo -e "Rescue123\nRescue123" | passwd root

cd /home/alpine
mkdir .ssh
chown alpine: .ssh
cd .ssh/
echo "{{ builder_ssh_key }}" > authorized_keys
chown alpine: authorized_keys 
chmod 600 authorized_keys 

echo "dd if=/dev/zero of=/dev/sda bs=4M count=99 ; reboot" > /usr/local/bin/SPLAT.sh
chmod 750 /usr/local/bin/SPLAT.sh
wget -q http://{{bob_listen_address}}/wendy/api/complete/{{mac}} -O /dev/null

echo -e "\n\n${INFO}You can now ssh in as alpine (with your key) ${END}"
echo "*** You can become root by 'su -' and Rescue123" >> /etc/motd
