network:
  version: 2
  ethernets:
    {{ lvvm_net_iface }}:
      dhcp4: no
      addresses: [ {{  lvvm_ip_cidr }} ]
      routes:
      - to: 0.0.0.0/0
        via: {{  lvvm_ip_gateway }}
      nameservers:
        addresses:
        {% for ns in  lvvm_nameservers %}
- {{ns}}
        {% endfor %}
search:
        - {{ lvvm_domain}}
