#cloud-config

hostname: {{ lvvm_hostname }}
fqdn: {{ lvvm_hostname }}.{{ lvvm_dns_domain }}

chpasswd: {expire: false}
ssh_pwauth: {{ lvvm_ssh_pwauth }}

users:
  - name: {{ lvvm_cloud_user }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ lvvm_cloud_ssh_keys }}
